@use '../../../css/base';

.magnetic-effect {
  width: 100%;
  height: 100vh;

  .content {
    // background: #ff0000;
    // width: 60px;
    // height: 40px;
    width: 150px;
    height: 60px;
    position: relative;

    .cursor {
      background-color: #eeeeeeaa;
      position: absolute;
      top: 0;
      left: 0;
      width: 150px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;
    }
  }
}
