@use 'base';

.container {
  min-height: 100vh;

  .experiments {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
		padding: 32px;

    h1 {
      font-size: 10vw; // 140px
      font-weight: 600;
    }

    .links {
      display: flex;
      // flex-direction: column;
			flex-wrap: wrap;
      align-items: center;
			justify-content: center;
			width: 90%;
			max-width: 1000px;
      gap: 32px;

      a {
        color: #000;
        font-size: 24px;
				text-decoration: none;

        &:hover {
          color: #00f;
        }

				&.inactive {
					opacity: .3;
					text-decoration: none;
					pointer-events: none;
				}
      }
    }
  }

  .experiment {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
		padding: 32px;

    h1 {
      font-size: 4vw; // 56px
    }
  }
}
