@use '../../../css/base';

.hover-effects {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    width: 100%;

    .group {
      width: 100%;
      display: flex;
      gap: 48px;
      justify-content: center;
      flex-wrap: wrap;
    }

    // hr {
    //   width: 100%;
    //   border-top: 1px solid #eee;
    // }

    /* hover animation */
    .link {
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;

      .mask {
        position: relative;
        display: flex;
        flex-direction: column;
        pointer-events: none;
        overflow: hidden;

        span {
          pointer-events: none;

          &:nth-child(2) {
            position: absolute;
            top: 100%;
          }
        }
      }
    }

    .link2 {
      .mask {
        font-size: 24px;

        span {
          padding: 4px;
        }
      }
    }

    .link-chars {
      font-size: 165px;
      line-height: 1.1em;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: -0.05em;
    }

    .scramble,
    .scramble2 {
      font-size: 24px;
      padding: 16px 0;

      .text {
      }
    }
  }
}
